*{
    margin:0;
    padding:0;
    box-sizing: 
}
body{
    background-color: blueviolet;
    image:downloads/hero_1.jpg
}
nav{
    display:flex;
    background-color: black;
    color:white;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav ul{
    display:flex;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    margin: 10px;
    padding: 10px;
}
nav ul a{
    text-decoration: none;
    color:white;

}